@import url("/public/css/sp.css");

.box-like-dislike-share span{
    cursor: pointer;
}

.colors:hover i{
    display:block;
}
.modal-dialog {
    width: 100%;
}
.item_inner {
    padding: 15px 15px 15px 0;
    margin-left : 15px;
    border-bottom: solid 1px #e0e0e0;
    overflow: hidden;
}
.box-colors span {
    width: 20%;
    height: 120px;
    display: block;
    float: left;
    cursor: pointer;
}

.box-colors {
    display: inline-block;
    border: 1px solid lightgray;
}
.colors{
    position:relative;
}
.myclipboard {
    position: absolute;
    bottom: 25%;
    left:15%;
    text-align: left;
    padding-left: 35px;
    padding-top: 10px;
    color: white;
    background-image: url("../img/clipboard.png");
    background-repeat: no-repeat;
    display:block;
    width: 50px;
    height:50px;
    display:none;
    font-weight: bold;
    text-transform: lowercase;
}


*{
    box-sizing: border-box;
}



.footer_show {
    display: block !important;
}

#logout {
    cursor: pointer;
}

#search {
    width: 100%;
}

.footer {
    display: none;
}



.modal-dialog {
    width: 100%;
}

.more_detail {
    color : #337ab7;
    text-decoration : none !important;
    font-size : 15.5px;
    cursor: pointer;
}

.more_detail:hover {
    color : #337ab7;
}

.box-info .box-date,
.box-info .box-author{
    padding-bottom: 10px;
}

.box-like, .box-dislike {
    margin-right : 15px;
}

.share > i{
    font-size: 16px;
    margin-right: 10px;
}

.box-like > i, .box-author, .box-dislike > i, .box-date > i{
    font-size: 16px;
    margin-right:   0px;
}

.box-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}

.footer {
     font-size: 15.5px;
     padding: 15px 15px 0 8%;
     color: #607d8b;
     letter-spacing : -.02em;
}

.footer > span {
    float: left;
    margin-right: 5%;
}

.footer > span > a {
    display: list-item;
    list-style-type: disc;
    /*float: left;    */
}

.clipboard_show {
    display: block !important;
}

#addnewpallet{
    position: relative;
}

div#waiting {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 9;
    text-align: center;
    line-height: 100%;
}

div#waiting img {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
}

div#waiting {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
    text-align: center;
    line-height: 100%;
    opacity: 0;
}

div#waiting img {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
}

div#waiting.wait {
    opacity: 1;
    z-index: 99;
}
.preview-color{
    width: 100%;;
    height:30px;
    display: block;
        border: 1px solid #000;
}
.previewimg {
    text-align: center;
}

.previewimg img {
    max-width: 600px;
    max-height: 600px;
    background: #fff;
}
#cs{
    display:none;
}
.social img{
    margin-right: 15px;
    height: 35px !important;
}
.deletepallet{
    display:none;
}
.mypallet .deletepallet{
    display:inline-block;
}
.previewimg img:hover {
    cursor: crosshair;
}
.box-share > div,
.box-share > span,
.box-share > iframe {
    display: inline-block !important;
    vertical-align: bottom !important;
    margin-right: 10px;
}

.scolor {
    width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    /* background: #fff; */
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    border: 1px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 3px #000;
}

.previewimg > span {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.scolor.active {
    z-index: 9;
}
.select2-container {
    width: 400px !important;
}
.select2-container ul li abbr{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.select2-container ul li span{
    display: inline-block;
    vertical-align: middle;
    margin-right:10px;
}
span.disabled {
    pointer-events: none;
}
.msgClone{
    display: inline-block;
    padding: 6px 10px;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 0;
}

.box-colors-detail {
    display: inline-block;
}
.box-colors-detail span {
    cursor: pointer;
    width: 100%;
    height: 80px;
    display: block;
    float: left;
    margin-bottom: 10px;
}
.collection {
    margin-bottom: 50px;
}
div#container-color {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
nav{
    text-align: center;
}