@import url("/public/css/sp.css");

.box-like-dislike-share span{
    cursor: pointer;
}

.colors:hover i{
    display:block;
}
.modal-dialog {
    width: 100%;
}
.item_inner {
    padding: 15px 15px 15px 0;
    margin-left : 15px;
    border-bottom: solid 1px #e0e0e0;
    overflow: hidden;
}
.box-colors span {
    width: 20%;
    height: 120px;
    display: block;
    float: left;
    cursor: pointer;
}

.box-colors {
    display: inline-block;
    border: 1px solid lightgray;
}
.colors{
    position:relative;
}
.myclipboard {
    position: absolute;
    bottom: 25%;
    font-family: overpassRegular;
    left:15%;
    text-align: left;
    padding-left: 35px;
    padding-top: 10px;
    color: white;
    background-image: url("../img/clipboard.png");
    background-repeat: no-repeat;
    display:block;
    width: 50px;
    height:50px;
    display:none;
    font-weight: bold;
    text-transform: lowercase;
}


*{
    box-sizing: border-box;
    font-family: overpassRegular;
}



.footer_show {
    display: block !important;
}

#logout {
    cursor: pointer;
}

#search {
    width: 100%;
}

.footer {
    display: none;
}



.modal-dialog {
    width: 100%;
}

.more_detail {
    color : #337ab7;
    text-decoration : none !important;
    font-size : 15.5px;
    cursor: pointer;
}

.more_detail:hover {
    color : #337ab7;
}

.box-info .row > div{
    padding-bottom: 10px;
}

.box-like, .box-dislike {
    margin-right : 15px;
}

.box-like > i, .box-author, .box-dislike > i, .box-date > i, .share > i{
    font-size: 16px;
    margin-right: 10px;
}

.box-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}

.footer {
     font-size: 15.5px;
     padding: 15px 15px 0 8%;
     color: #607d8b;
     letter-spacing : -.02em;
}

.footer > span {
    float: left;
    margin-right: 5%;
}

.footer > span > a {
    display: list-item;
    list-style-type: disc;
    /*float: left;    */
}





.clipboard_show {
    display: block !important;
}
